<% layout("/layouts/boilerplate") %>

<!-- existing listing ko edit karne ke liye -->
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>edit your existing listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" />
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" value="<%= listing.title %>" name="listing[title]" class="form-control" required> 
                <div class="invalid-feedback">
                   please enter a catchy title.
                     </div>
            </div>
            
             <div class="mb-3">
                <label for="title" class="form-label">Description</label>
                <textarea name="listing[description]" cols="5" rows="5"  class="form-control" required><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    please enter a Discription.
                     </div>
            </div>
            

             <div class="row">
               <div class="mb-3  col-md-4">
                  <label for="price" class="form-label">Price</label>
                  <input type="text" value="<%= listing.price%>"  name="listing[price]"class="form-control">
                  <div class="invalid-feedback">
                    please enter a price.
                     </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label> 
                    <input type="text" value="<%= listing.country %>" name="listing[country]" class="form-control" required>
                    <div class="invalid-feedback">
                        please enter a country.
                         </div>
                </div>
             </div>
             <div class="mb-3">
               <label for="location" class="form-label">Location</label>
               <input type="text" value="<%= listing.location %>" name="listing[location]"class="form-control" required>
               <div class="invalid-feedback">
                   please enter a location.
                 </div>
            </div >

             <div class="mb-3">
                <label for="Image" class="form-label">Image URL</label>
                <input type="text" value="<%= listing.image %>" name="listing[image]" class="form-control" required>
                <div class="invalid-feedback">
                    please enter an image.
                     </div>
            </div>
                <br>
                <button class="btn btn-dark edit-btn">Edit</button>
            </form>
        </div>
      </div>
      
</body>
